div {
  text-align: center;
}

.date {
  font-size: 0.7rem;
}

.names {
  margin-bottom: 8px;
}

.f {
  width: 40%;
  display: inline-block;
  text-align: center;
  /* border-style: solid; */
}

.vs {
  width: 10%;
}

.scoreNumbers {
  margin-top: 0px;
  padding: 0px;
}

.logo {
  width: 20px;
  /* border-style: solid; */
}
